
.class-test {
    height: 100vh;
    background: linear-gradient(120deg, rgba(9,9,121,1) 0%, rgba(9,9,121,0.9419117988992471) 35%, rgba(0,212,255,1) 100%);


}

.chatbox {
    background-color: black;
    height: 600px;
    width: 600px;
    padding-top: 2rem;
    margin-left: 30rem;
    border-radius: 5px;


}


.chattext {
    background: #383838;
    color: white;
    text-align: left;
    margin: 2rem;
    border-radius: 8px;
    height: 4rem;
    font-size: 11px;

}

.input {
    background-color: white;
    height: 80px;
    width: 600px;
    color: black;
    text-align: left;


}

.button {
    width: 450px;
    height: 75px;
    padding-left: 1.5rem;
    border-style: solid;
    border-left-color: grey;
    border-color: white;

}

.text{
    color: grey;
}