.class-test {
    height: 100vh;
    background: linear-gradient(120deg, rgba(9,9,121,1) 0%, rgba(9,9,121,0.9419117988992471) 35%, rgba(0,212,255,1) 100%);


}

.box-color{

    font-family: arial;
    font-size: 14px;
    color: white;
    width: 550px;
    height: 500px;
    background-color: black;
    margin-top: 100px;
    margin-left: 480px;

   }